body
{
	margin: 0;
}
.header
{
	width: 100%;
}

.top
{
	width: 95%;
	margin: 0 auto;
	padding-bottom: 30px;
	border-bottom: 2px solid #c0c0c0;
}
.main
{
	width: 60%;
	margin: 0 auto;
}
.main a 
{
	width: 100%;
}
.mainlogo
{
	width: 100%;
}



.container
{
	width: 95%;
	margin: 0 auto;
	margin-top: 20px;
}

.top-content
{
	width: 100%;
}
.toprap
{
	width: 60%;
	margin: 0 auto;
	
}
.topsort
{
	width: 70%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	padding-left: 200px;
	
}
.toplogo
{
	float: left;
	width: 15%;
	text-align: right;

}

.topimage
{
	width: 45px;
	height: 45px;
}
.toptext
{
	float: left;

}
.toptext h4
{
	margin-bottom: 0;
	margin-top: 15px;
	margin-left: 15px;
}







/* signup-container */
#sign-container
{
	width: 70%;
	margin: 0 auto;
	margin-top: 15px;
	text-align: right;
	padding-left: 30px;

}
.sign-nav
{
	position: relative;
	overflow: hidden;
	margin-top: 10px;
	text-align: right;
}
.sign-nav h3
{
	margin: 0;
}
.sort
{
	float: left;
	width: 18%;
	text-align: right;
}
.sort2
{
	float: left;
	width: 79%;
	position: relative;
	overflow: hidden;
}
.sort2 h4
{
	margin: 0;
	display: inline-block;

}
.sort3
{
	display: inline-block;
	position: absolute;
	bottom: 0;
}
#sign-container h3
{
	font-size: 1em;
	display: inline-block;
}
.text-box
{
	padding: 0px 1px 1px 1px;
	width: 15%;
	border-radius: 6px;
	border: 2px solid #1097e6;
	font-size: 1em;
	font-weight: bold;
}
.jumin-box
{
	padding: 0px 1px 1px 1px;
	width: 20%;
	border-radius: 6px;
	border: 2px solid #1097e6;
	font-size: 1em;
	font-weight: bold;
}
.phone-box
{
	padding: 0px 1px 1px 1px;
	width: 12.5%;
	border-radius: 6px;
	border: 2px solid #1097e6;
	font-size: 1em;
	font-weight: bold;
}

.button
{
	border: 0;
	padding: 3px 10px;
	border: 1px solid #1097e6;
	display: inline-block;
	list-style: none;
	text-decoration: none;
	border-radius: 6px;
	color: white;
	font-size: 0.8em;
	background-color: #1097e6;
	font-weight: bold;
	cursor: pointer;
}






#button-sort
{
	text-align: right;
}

#container-table
{
	width: 100%;
}
td
{
	text-align: center;
}
.col
{
	background-color: #1097e6;
}

.col td
{
	color: white;
	
}
}
.col td:nth-child(0)
{
	width: 2%;
}
.col td:nth-child(1)
{
	width: 3%;
}
.col td:nth-child(2)
{
	width: 7%;
	
}

.col td:nth-child(3)
{
	width: 10%;
	
}