body
{
	margin: 0;
}	
.header
{
	width:80%;
	margin: 0 auto;
	

}

.brand
{
	text-decoration: none;
}

#logoimage 
{
	width: 100%;
}
.container
{
	
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	padding-bottom: 30px;
	border-bottom: 7px solid #f79646
}
.logo
{
	width: 20%;
	float: left;
}
.menu
{
	float:right;
	
}


.menu
{
	padding-top: 10px;
	bottom: 0;
}
.nav
{
	margin-top: 0;
}
.nav li
{
	list-style: none;
	display: inline-block;
}
.nav li a
{
	font-size: 1em;
	text-decoration: none;
	color: black;
	margin: 10px;
}

/* ------------------------- login-container ------------------------- */


#login-container
{
	width:55%;
	margin: 0 auto;
	border-bottom: 2px solid #c0c0c0;

}
#login-text
{
	width: 55%;
	margin-top: 60px;
	padding-bottom:10px;
	
	
}
#login-text-wrap
{
	border-bottom: 2px solid #c0c0c0;
}

#login-text h3
{
	
	
	font-weight: bold;
	font-size:1.1em;
	margin:0;
	padding-bottom: 10px;
	

}


#login-text #login-logo
{
	float: left;
	width: 5%;
	height: 3%;
}



/*    ------------------ mypage ------------------ */


#mypage-logo
{
	width: 80%;
	margin: 0 auto;


}
#mypage-sub
{
	width: 100%;
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}
#mypage-sub span
{
	display: inline-block;
	width: 30%;

}
#mypage-sub span a
{
	width: 100%;
}
#mypage-sub span h3
{
	display: inline-block;

}
.my-button
{
	width: 55%;
	margin: 0 30px;
}



